################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PrimerEntregaTaller/.vs/PrimerEntregaTaller/FileContentIndex
/PrimerEntregaTaller/.vs/PrimerEntregaTaller/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/PrimerEntregaTaller/.vs/PrimerEntregaTaller/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/PrimerEntregaTaller/.vs/PrimerEntregaTaller/CopilotIndices/17.14.995.13737/CodeChunks.db
/PrimerEntregaTaller/.vs/PrimerEntregaTaller/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/PrimerEntregaTaller/.vs/PrimerEntregaTaller/CopilotIndices/17.14.995.13737/CodeChunks.db
