################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PrimerEntregaTaller/.vs/PrimerEntregaTaller/FileContentIndex
